:root {
  --color-surface: #FFFBF7;
  --color-surface-alt: #fff;
  --color-primary: #EB5675;
  --color-accent: #6554FF;
  --color-muted: #F9EDEF;
  --color-text: #26252D;
  --color-dark-surface: #14131A;
  --color-dark-surface-alt: #1E1D24;
  --color-dark-primary: #F06A82;
  --color-dark-accent: #8B84FF;
  --color-dark-muted: #1A1A20;
  --color-dark-text: #E5E4EA;
}
